@media screen and (max-width: 786px)
    .swiper
        width: 425px !important
    .swiper-slide > img 
        max-width: 420px !important

@media screen and (max-width: 425px)
    .swiper
        width: 310px !important
    .swiper-slide > img 
        max-width: 300px !important